@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

/* font-family: 'Roboto', sans-serif; */

.body-style{
    border: 1px solid red;
    font-family: 'Roboto', sans-serif;
    width: 375px;
    height: 100vh;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    position: relative;
}

/* ******************************* AREA - LOGIN ********************************** */
.initial-style{
    background-color: #fff;
    position: absolute;
    z-index: 3;
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}
.initial-logo{
    margin: 0 auto;
}

.initial-text{
    width: 261px;
    height: 54px;
    margin-bottom: 15px;
    border: 1px solid #d7d7d7;
    border-radius: 4px;
    text-align: center;
}

.initial-button{
    width: 109px;
    height: 45px;
    background-color: #e7e7e7;
    color: #696969;
}

.show{
    display: none;
}

/* ******************************* HEADER ********************************** */

.topo-site{
    background-color: #fff;

    position: absolute;
    top: 0;
    left: o;
    width: 100%;
    height: 80px;
    z-index: 1;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);

    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}

.logo-topo{
    width: 75px;
    height: 53px;
    margin-left: 22px;
}

.menu-topo{
    width: 42.19px;
    height: 30.94px;
    margin-right: 22px;

}



/* ******************************* SECTION ********************************** */

.meio-site{
    height: 100%;
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: 85px;
    margin-bottom: 85px;
    background-color: #E5E5E5;
}

/* ***** Mensagens do Chat ********/

.entrou-saiu{
    background-color: #dcdcdc;
    margin: 5px 0;
    padding: 10px 5px;
}
.entrou-saiu span:first-child{
    color: #AAA;
}

.reservadamente{
    background-color: #ffdede;
    margin: 5px 0;
    margin: 5px 0;
    padding: 10px 5px;
} 

.reservadamente span:first-child{
    color: #aaa;
}

.mensagem{
    max-width: 100%;
    display: block;
    background-color: #fff;
    margin: 5px 3px;
    padding: 10px 5px;
}

.mensagem span:first-child{
    color: #aaa;
}

.negrito{
    font-weight: 700;
}

/* ******************************* MENU ********************************** */

.menu-site{
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    height: 100%;
    width: 100%;
    display: none;                  
    transform: translate(100%);     /*Propriedade para mover o menu*/
    transition: transform 1.4s ease-in-out; /*Propriedade para mover o menu*/
}

.menu-site.menu-site-aparecer{   
    display: block; 
    transform: translate(0%);     /*Propriedade para mover o menu*/
}

.menu-site-conteudo{
    background-color: #fff;
    width: 75%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

.conteudo-site{
    max-width: 100%;
}

/* Conteudo do Menu *************/

.m-site-texto{
    height: 84px;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    display: flex;

}
.m-site-texto span{
    display: inline-block;
    margin: auto 50px;
}

.m-site-pessoas{
    overflow-y: scroll;
    max-block-size: 25%;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05), 0px 4px 6px rgba(0, 0, 0, 0.05);
}

.m-site-pessoa{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.m-site-pessoa img{
    width: 20.3px;
    height: 20.3px;
    margin: 8px 10px;
    cursor: pointer;
}

.m-site-pessoa span{
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
}

.m-site-visibilidade{
    height: 66px;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    display: flex;
}

.m-site-visibilidade span{
    display: inline-block;
    margin: auto 50px;
}

.m-site-cadeado{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.m-site-cadeado img{
    width: 15.1px;
    height: 20.6px;
    margin: 8px 10px;
    cursor: pointer;
}

.m-site-cadeado span{
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
}


.check {
    font-size: 25px;
    font-weight: 700;
    color: green;
    position: absolute;
    right: 5px;
    top: auto;
}

/* ******************************* FOOTER ********************************** */

.rodape-site{
    background-color: #fff;
    border: 1px solid red;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);

    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.caixa-rodape{
    margin-left: 22px;
    width: 75%;
    height: 35px;
    border: none;
    outline: none;
    height: 90%;
    font-style: italic;  
}

.enviar-rodape{
    width: 26px;
    height: 26px;
    margin-right: 22px;
}